.flex-container {
    display: flex;
    background-color: dodgerblue;
    flex-wrap: wrap;
}

.flex-container  div {
    background-color: blueviolet;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}